<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.cobotview.plugin.ui.CobotViewPerspectiveFactory"
            icon="icons/prj_obj.png"
            id="com.cobotview.ui.perspective"
            name="cobotview">
         <description>
            Cobot View
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/config-category.gif"
               id="CobotFile"
               label="CobotFile">
            <command
                  commandId="org.eclipse.ui.project.openProject"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/action-buildconfig.gif"
               id="CobotEdit"
               label="CobotEdit">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="org.eclipse.ui.edit.rename"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/config-category.gif"
               id="CobotGraph"
               label="CobotGraph">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
         </menu>
         <menu
               icon="icons/action-buildconfig.gif"
               id="CobotSearch"
               label="CobotSearch">
            <command
                  commandId="org.eclipse.search.ui.openFileSearchPage"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/config-category.gif"
               id="CobotWindow"
               label="CobotWindow">
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                     value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/config-category.gif"
               id="CobotHelp"
               label="CobotHelp">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
</plugin>
