<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.cobotview.plugin.ui.perspective.CobotViewPerspectiveFactory"
            id="com.cobotview.ui.perspective"
            name="CobotView">
         <description>
            Cobot View
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="CobotFile"
               label="文件">
            <command
                  commandId="org.eclipse.ui.project.openProject"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="CobotSearch"
               label="搜索">
            <command
                  commandId="org.eclipse.search.ui.openFileSearchPage"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="CobotHelp"
               label="帮助">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="com.cobotview.plugin.ui.toolbar1">
            <command
                  commandId="com.cobotview.newProject"
                  icon="icons/toolbar/new_project.png"
                  label="新建"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.cobotview.ui.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="com.cobotview.plugin.ui.toolbar2">
            <command
                  commandId="com.cobotview.openFile"
                  icon="icons/toolbar/open_file.gif"
                  label="打开"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.cobotview.ui.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="com.cobotview.plugin.ui.toolbar3">
            <command
                  commandId="com.cobotview.search"
                  icon="icons/menus/search.png"
                  label="搜索"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.cobotview.ui.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.main.menu">
         <command
               commandId="com.cobotview.plugin.ui.createProject"
               icon="icons/menus/new_project.png"
               label="新建二进制项目"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
           targetID="com.cobotview.ui.perspective">
         <view
               closeable="true"
               id="com.cobotview.plugin.ui.projectView"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="file">
         </hiddenMenuItem>
          <hiddenMenuItem
               id="help">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="refactorMenuId">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="sourceMenuId">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="edit">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="window">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="openexplorer.actions.OpenExplorer">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.cobotview.plugin.ui.commands.NewProjectToolBarHandler"
            id="com.cobotview.newProject"
            name="新建">
         <defaultHandler
               class="com.cobotview.plugin.ui.perspective.NewProjectToolBarHandler">
         </defaultHandler>
      </command>
      <command
            id="com.cobotview.openFile"
            name="打开">
         <defaultHandler
               class="com.cobotview.plugin.ui.commands.OpenFileHandler">
         </defaultHandler>
      </command>
      <command
            id="com.cobotview.search"
            name="搜索">
         <defaultHandler
               class="com.cobotview.plugin.ui.commands.SearchHandler">
         </defaultHandler>
      </command>
      <command
            id="com.cobotview.plugin.ui.createProject"
            name="新建二进制项目">
         <defaultHandler
               class="com.cobotview.plugin.ui.commands.NewProjectHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.cobotview.plugin.ui.views.FunctionView"
            icon="icons/views/functionAddressView.png"
            id="com.cobotview.plugin.ui.functionView"
            name="函数调用图"
            restorable="true">
      </view>
      <view
            class="com.cobotview.plugin.ui.views.ContentView"
            id="com.cobotview.plugin.ui.contentView"
            name="ContentView"
            restorable="true">
      </view>
      <view
            class="com.cobotview.plugin.ui.views.GraphView"
            icon="icons/views/fileRelationGraph.gif"
            id="com.cobotview.plugin.ui.graphView"
            name="GraphView"
            restorable="true">
      </view>
      <view
            class="com.cobotview.plugin.ui.views.OutlineView"
            id="com.cobotview.plugin.ui.outline"
            name="Outline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.cobotview.ui.perspective">
         <hiddenToolBarItem
               id="org.eclipse.search.OpenSearchDialogPage">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="newWizardDropDown">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.mylyn.tasks.ui.command.openTask">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.mylyn.tasks.ui.navigation">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.saveAll">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.save">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.actionSet.navigation">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="SearchField">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.help.quickStartAction">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.cobotview.plugin.ui.wizards.category.cobotView"
            name="CobotView">
      </category>
      <wizard
            canFinishEarly="false"
            category="com.cobotview.plugin.ui.wizards.category.cobotView"
            class="com.cobotview.plugin.ui.wizards.CobotViewNewWizard"
            finalPerspective="com.cobotview.ui.perspective"
            hasPages="true"
            icon="icons/wizards/new_project.png"
            id="com.cobotview.plugin.ui.CobotViewNewWizard"
            name="CobotView Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.cobotview.plugin.ui.hidden"
            name="unwanted">
      </activity>
      <activityPatternBinding
            activityId="com.cobotview.plugin.ui.hidden"
            pattern="org.eclipse.jdt.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.cobotview.plugin.ui.hidden"
            pattern="org.eclipse.debug.ui.*">
      </activityPatternBinding>
   </extension>
</plugin>
