<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.cobotview.plugin.ui.perspective.CobotViewPerspectiveFactory"
            icon="icons/menus/prj_obj.png"
            id="com.cobotview.ui.perspective"
            name="CobotView">
         <description>
            Cobot View
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               icon="icons/menus/config-category.gif"
               id="CobotFile"
               label="CobotFile">
            <command
                  commandId="org.eclipse.ui.project.openProject"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/menus/action-buildconfig.gif"
               id="CobotEdit"
               label="CobotEdit">
            <command
                  commandId="org.eclipse.ui.edit.rename"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/menus/config-category.gif"
               id="CobotGraph"
               label="CobotGraph">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/menus/action-buildconfig.gif"
               id="CobotSearch"
               label="CobotSearch">
            <command
                  commandId="org.eclipse.search.ui.openFileSearchPage"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/menus/config-category.gif"
               id="CobotWindow"
               label="CobotWindow">
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                     value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="icons/menus/config-category.gif"
               id="CobotHelp"
               label="CobotHelp">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.cobotview.ui.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.cobotview.plugin.ui.toolbar1">
            <command
                  commandId="com.cobotview.newProject"
                  icon="icons/toolbar/addpath_wiz.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.cobotview.ui.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="com.cobotview.plugin.ui.toolbar2">
            <command
                  commandId="com.cobotview.openFile"
                  icon="icons/toolbar/refactor_field_wiz.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.cobotview.ui.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
         <toolbar
               id="com.cobotview.plugin.ui.toolbar3">
            <command
                  commandId="com.cobotview.displayFunctionGraph"
                  icon="icons/toolbar/refactor_method_wiz.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.cobotview.ui.perspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
           targetID="com.cobotview.ui.perspective">
         <view
               closeable="true"
               id="com.cobotview.plugin.ui.projectview"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.cobotview.plugin.ui.functionview"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="com.cobotview.plugin.ui.projectview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.cobotview.plugin.ui.contentview"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="bottom"
               relative="com.cobotview.plugin.ui.functionview"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.cobotview.plugin.ui.graphview"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="file">
         </hiddenMenuItem>
          <hiddenMenuItem
               id="help">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="refactorMenuId">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="sourceMenuId">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="edit">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="window">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.cobotview.plugin.ui.commands.NewProjectToolBarHandler"
            id="com.cobotview.newProject"
            name="newProject">
         <defaultHandler
               class="com.cobotview.plugin.ui.perspective.NewProjectToolBarHandler">
         </defaultHandler>
      </command>
      <command
            id="com.cobotview.displayFunctionGraph"
            name="displayFunctionGraph">
         <defaultHandler
               class="com.cobotview.plugin.ui.perspective.DisplayFunctionGraphHandler">
         </defaultHandler>
      </command>
      <command
            id="com.cobotview.openFile"
            name="openFile">
         <defaultHandler
               class="com.cobotview.plugin.ui.commands.OpenFileHandler">
         </defaultHandler>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.resources.ProjectExplorer"
            id="com.cobotview.plugin.ui.projectview"
            name="ProjectExplorer"
            restorable="true">
      </view>
      <view
            class="com.cobotview.plugin.ui.views.FunctionView"
            id="com.cobotview.plugin.ui.functionview"
            name="FunctionView"
            restorable="true">
      </view>
      <view
            class="com.cobotview.plugin.ui.views.ContentView"
            id="com.cobotview.plugin.ui.contentview"
            name="ContentView"
            restorable="true">
      </view>
      <view
            class="com.cobotview.plugin.ui.views.GraphView"
            id="com.cobotview.plugin.ui.graphview"
            name="GraphView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.cobotview.ui.perspective">
         <hiddenToolBarItem
               id="org.eclipse.search.OpenSearchDialogPage">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="newWizardDropDown">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.mylyn.tasks.ui.command.openTask">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.mylyn.tasks.ui.navigation">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.saveAll">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.save">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.actionSet.navigation">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="SearchField">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
</plugin>
